html {
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
	background: rgb(255, 254, 232);
	margin:0;
	padding:0;
}

.labelX {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
}

.labelY {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
}

#labelYear {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  fill: gray;
  opacity: .10;
  font-size: 20rem;
}

.demoChartContainer {
	position: relative;
}

.popUp {
	position: absolute;
	max-width: 300px;
	padding: 10px;
	max-height: 100%;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #000000;
	border-radius: 10px;
}

.popClose {
	position: relative;
}

.popClose > div {
	position: absolute;
	top: 10px;
	right: 10px;
}

.section-content {
	padding: 5px 30px 0;
}

.col-container {
	width: 100%;
	overflow: hidden;
	font-size: 24px;
}

.col-half {
	float: left;
	width: 40%;
	margin-left: 40px;
	padding: 10px 40px 20px;
}

.col-half:first-child {
	margin-left: 0;
}

.controllers {
	width: 90%;
	margin: 10px auto 0;
}

.input-group {
	display: inline-block;
	margin-right: 10px;
}

label {
	font-weight: bold;
}

.input-group label {
	display: block;
}

svg {
	display: block;
	width: 90%;
	height: 80%;
	max-height: 686px;
	margin: 0 auto;
}