html {
  font-size: 16px;
}

.labelX {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
}

.labelY {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
}

#labelYear {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  fill: gray;
  opacity: .10;
  font-size: 20rem;
}

.demoChartContainer {
	position: relative;
}

.popUp {
	position: absolute;
	max-width: 300px;
	padding: 10px;
	max-height: 100%;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #000000;
	border-radius: 10px;
}

.popClose {
	position: relative;
}

.popClose > div {
	position: absolute;
	top: 10px;
	right: 10px;
}
